%p=@pin.title
%p=@pin.description
= link_to 'edit', edit_pin_path(@pin), class: 'btn btn-default'
= link_to 'delete', pin_path(@pin), method: :delete, class: 'btn btn-default'
= link_to 'Back', root_path
